body {
  font-family: Oxygen;
  font-weight: 400;
  font-size: 16px; }

.al-header {
  height: 140px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: url(../images/topo-destaque.jpg) no-repeat center center; }

.al-nav {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #313941;
  border: none; }

.navbar-nav li a {
  color: white; }
  .navbar-nav li a:hover {
    background-color: black !important;
    color: white !important; }

footer {
  margin-top: 50px;
  background-color: #313941;
  border-top: 1px solid #eeeeee;
  padding: 50px 0 50px 0; }
  footer a {
    color: #59626e; }

footer .footer-links {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #59626e; }
  footer .footer-links li {
    float: left;
    margin-left: 0;
    margin-right: 15px; }
    footer .footer-links li:last-child {
      margin-right: 0; }

.caption h5, .caption h6 {
  text-transform: uppercase;
  margin-bottom: 5px;
  border-bottom: 1px solid #eeeeee; }

.info-table td, .info-table th {
  padding-right: 20px !important; }
.info-table .pl {
  width: 50%;
  text-align: justify; }
  .info-table .pl p {
    margin-top: 5px;
    font-size: 13px; }

table .btn {
  padding: 1px 4px 0px; }
