@(createProcessoForm: Form[models.Processo])

@import helper.twitterBootstrap._
@import helper._

@implicitField = @{ FieldConstructor(customFieldConstructor1.f) }

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("style/datepicker.css")">
    <script src="@routes.Assets.at("js/bootstrap-datepicker.pt.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-datepicker.js")"></script>
}

@breadcrumb = {
    <li><a href="#">Administrador</a></li>
    <li class="active">Adicionar processo</li>
}

@main(title = "Adicionar Processo", scripts = scripts, breadcrumb = breadcrumb) {

    <h2 class="info-header">Inserir Processo</h2>

    <div class="row">
        <div class="col-xs-12">

            @form(routes.Administrador.createProcesso(), 'role ->"form", 'enctype -> "multipart/form-data" ) {
            
                <div class="row">
                    
                    <div class="col-xs-6">
                        @input(createProcessoForm("descricao"), '_label -> "Descrição", '_help -> "Requerido"){ (id, name, value, args) =>
                            <textarea rows="6" class="form-control" name="@name" placeholder="Descrição" id="@id"></textarea>
                        }
                    </div>

			<div class="col-xs-6">
                        @input(createProcessoForm("acusacoes"), '_label -> "Acusações", '_help -> "Requerido"){ (id, name, value, args) =>
                            <textarea rows="6" class="form-control" name="@name" placeholder="Acusações" id="@id"></textarea>
                        }
                    </div> i
                    
                    <div class="col-xs-6">
                            
                        <div class="form-group">
                            <label for="processo">Arquivo do Processo</label>
                            <input type="file" name="processo" id="processo" class="form-control">
                            <span class="help">Requerido</span>
                        </div>
                          
  
                    </div>
                    
			<div class="col-xs-4">
                        @input(createProcessoForm("status"), '_label -> "Status", '_help -> "Requerido"){ (id, name, value, args) =>
                            <select name="@name" id="@id" class="form-control" placeholder="Partido" @toHtmlArgs(args)>
				<option selected>Selecione uma opção</option>				
				<option>Arquivado</option>
				<option>Em andamento</option>				
				<option>Cadastrado</option>
				
				</select>
                        }
                    </div>
                </div>
            
                
            
                <input type="submit" value="Criar Processo" class="btn btn-default" />

            }
            
        </div>
    </div>

}
