@(criarParlamentarForm: Form[models.Parlamentar])

@import helper.twitterBootstrap._
@import helper._

@implicitField = @{ FieldConstructor(customFieldConstructor1.f) }

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("style/datepicker.css")">
    <script src="@routes.Assets.at("js/bootstrap-datepicker.pt.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-datepicker.js")"></script>
}

@breadcrumb = {
    <li><a href="#">Administrador</a></li>
    <li class="active">Adicionar parlamentar</li>
}

@main(title = "Adicionar Parlamentar", scripts = scripts, breadcrumb = breadcrumb) {

    <h2 class="info-header">Inserir Parlamentar</h2>

    <div class="row">
        <div class="col-xs-12">

            @form(routes.Parlamentar.doAdminCriarParlamentar(), 'role ->"form", 'enctype -> "multipart/form-data" ) {
            
                <div class="row">
                    
                    <div class="col-xs-6">
                         @input(criarParlamentarForm("nome"), '_label -> "Nome", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Nome" @toHtmlArgs(args)>
                        }  
                    </div>
                    
                    <div class="col-xs-6">
                            
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" name="foto" id="foto" class="form-control">
                            <span class="help">Requerido</span>
                        </div>
                            
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(criarParlamentarForm("dataNascimento"), '_label -> "Data de Nascimento", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="date" name="@name" id="@id" class="form-control"  @toHtmlArgs(args)>
                        }
                    </div>

                    <div class="col-xs-4">
                        @input(criarParlamentarForm("partido"), '_label -> "Partido", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control"  placeholder="Partido" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(criarParlamentarForm("formacao"), '_label -> "Formação", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Formação" @toHtmlArgs(args)>
                        }
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(criarParlamentarForm("cidade"), '_label -> "Cidade", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Cidade" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(criarParlamentarForm("gabinete"), '_label -> "Gabinete", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Gabinete" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(criarParlamentarForm("salario"), '_label -> "Salário", '_help -> "Requerido"){ (id, name, value, args) =>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" name="@name" id="@id" class="form-control" placeholder="0.00" @toHtmlArgs(args)>
                            </div>
                        }
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-12">
                        @input(criarParlamentarForm("biografia"), '_label -> "Biografia", '_help -> "Requerido"){ (id, name, value, args) =>
                            <textarea rows="6" class="form-control" name="@name" placeholder="Biografia" id="@id" @toHtmlArgs(args)></textarea>
                        }
                    </div>
                    
                </div>
            
                <input type="submit" value="Criar Parlamentar" class="btn btn-default" />

            }
            
        </div>
    </div>

}
