@(gastosForm: Form[models.Gastos], listaParlamentares : List[models.Parlamentar])

@import helper._

@breadcrumb = {
    <li><a href="#">Administrador</a></li>
    <li class="active">Cadastrar Gastos</li>
}

@main(title = "Cadastrar Gastos", breadcrumb = breadcrumb) {

	<h2>Cadastrar um novo gasto do Parlamentar</h2>
    
	@form(routes.Gastos.doAdminCriarGastos()) {
        	@input(gastosForm("parlamentar"), '_label -> "Selecione o parlamentar", '_help -> "Requerido"){ (id, name, value, args) =>
               		<select>
				  @for(p <- listaParlamentares){
				      <option name="@p.nome" id="@p.id" value="@value" required placeholder="parlamentar_id" @toHtmlArgs(args)>
					@p.nome
				      </option>
				  } 
			    </select>
                        }		
		@inputText(gastosForm("valor"))
		@inputText(gastosForm("justificativa"))
		@inputText(gastosForm("documentoProva"))
		@inputText(gastosForm("descricao"))
		@inputText(gastosForm("data"))
		@inputText(gastosForm("lei"))
		@inputText(gastosForm("origemDoDinheiro"))
		
		<input type="submit" value="inserir" />
	}
}
