@(parlamentarForm : Form[models.Parlamentar], parlamentar : models.Parlamentar)

@import helper.twitterBootstrap._
@import helper._

@implicitField = @{ FieldConstructor(customFieldConstructor1.f) }

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("style/datepicker.css")">
    <script src="@routes.Assets.at("js/bootstrap-datepicker.pt.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-datepicker.js")"></script>
}

@breadcrumb = {
    <li><a href="@routes.Administrador.index()">Administrador</a></li>
    <li class="active">Editar parlamentar</li>
}

@main(title = "Editar Parlamentar", scripts = scripts, breadcrumb = breadcrumb) {

    <h2 class="info-header">Editar Parlamentar</h2>

    <div class="row">
        <div class="col-xs-12">

            @form(routes.Parlamentar.doAdminAtualizarParlamentar(), 'role ->"form", 'enctype -> "multipart/form-data" ) {
            
                @input(parlamentarForm("id"), '_label -> "", '_help -> "", 'style -> "display: none"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required @toHtmlArgs(args)>
                } 
            
                <div class="row">
                    
                    <div class="col-xs-6">
                         @input(parlamentarForm("nome"), '_label -> "Nome", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Nome" required value="@value" @toHtmlArgs(args)>
                        }  
                    </div>
                    
                    <div class="col-xs-6">
                            
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" name="foto" id="foto" class="form-control">
                        </div>
                            
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(parlamentarForm("dataNascimento"), '_label -> "Data de Nascimento", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="date" name="@name" id="@id" class="form-control" value="@value" required @toHtmlArgs(args)>
                        }
                    </div>

                    <div class="col-xs-4">
                        @input(parlamentarForm("partido"), '_label -> "Partido", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="Partido" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(parlamentarForm("formacao"), '_label -> "Formação", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="Formação" @toHtmlArgs(args)>
                        }
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(parlamentarForm("cidade"), '_label -> "Cidade", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Cidade" required value="@value" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(parlamentarForm("gabinete"), '_label -> "Gabinete", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="Gabinete" required value="@value" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(parlamentarForm("salario"), '_label -> "Salário", '_help -> "Requerido"){ (id, name, value, args) =>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" name="@name" id="@id" class="form-control" placeholder="0.00" required value="@value" @toHtmlArgs(args)>
                            </div>
                        }
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-12">
                        @input(parlamentarForm("biografia"), '_label -> "Biografia", '_help -> "Requerido"){ (id, name, value, args) =>
                            <textarea rows="6" class="form-control" name="@name" placeholder="Biografia" required value="@value" id="@id"></textarea>
                        }
                    </div>
                    
                </div>
            
                <input type="submit" value="Atualizar Parlamentar" class="btn btn-default" />

            }
            
        </div>
    </div>

}