@(criarSessaoForm: Form[models.Sessao], sessao : models.Sessao)

@import helper.twitterBootstrap._
@import helper._

@implicitField = @{ FieldConstructor(customFieldConstructor1.f) }

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("style/datepicker.css")">
    <script src="@routes.Assets.at("js/bootstrap-datepicker.pt.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-datepicker.js")"></script>

    <script type="text/javascript">
        $(".close").alert();
    </script>

}

@breadcrumb = {
    <li><a href="@routes.Administrador.index()">Administrador</a></li>
    <li class="active">Adicionar Sessao</li>
}

@main(title = "Adicionar Sessao", scripts = scripts, breadcrumb = breadcrumb) {

    <h2 class="info-header">Inserir Sessão</h2>

    @if(criarSessaoForm.hasErrors()) {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @if(criarSessaoForm.errors.size() > 0) {
                @for((key, value) <- criarSessaoForm.errors) {
                    Problema no campo key.toString()               
                }
            }
        </div>
    }

    <div class="row">
        <div class="col-xs-12">

            @form(routes.Sessao.doAdminCriarSessao(), 'role ->"form", 'enctype -> "multipart/form-data" ) {
            
                <div class="row">
                    
                    <div class="col-xs-6">
                         @input(criarSessaoForm("data_hora"), '_label -> "Data", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" placeholder="yyyy-MM-dd" required value="@value" @toHtmlArgs(args)>
                        }  
                    </div>
                    
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(criarSessaoForm("descricao"), '_label -> "Descrição", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="Descrição" @toHtmlArgs(args)>
                        }
                    </div>

                    <div class="col-xs-4">
                        @input(criarSessaoForm("ata"), '_label -> "Ata", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="Texto da Ata" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    <div class="col-xs-4">
                        @input(criarSessaoForm("carater"), '_label -> "Caráter", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="Análise da Sessão" @toHtmlArgs(args)>
                        }
                    </div>
                    
                </div>
            
                <div class="row">
                    
                    <div class="col-xs-4">
                        @input(criarSessaoForm("presidente"), '_label -> "Presidente", '_help -> "Requerido"){ (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" class="form-control" value="@value" required placeholder="pres" @toHtmlArgs(args)>
                        }
                    </div>
                    
                    
            
                <input type="submit" value="Atualizar Sessão" class="btn btn-default" />

            }
            
        </div>
    </div>

}
