@(parlamentar: models.Parlamentar)

@scripts = {
    <script src="@routes.Assets.at("js/holder.js")"></script>
}

@breadcrumb = {
    <li><a href="#">Início</a></li>
    <li><a href="#">Parlamentares</a></li>
    <li class="active">@parlamentar.nome</li>
}

@main(title = "Parlamentar", scripts = scripts, breadcrumb = breadcrumb) {
    <div class="row">
        <div class="col-xs-3">
            <div class="thumbnail">
                <img data-src="holder.js/200x200" alt="Foto do parlamentar">
                <div class="caption">
                    <h6>Partido</h6>
                    <p>@parlamentar.partido</p>
                    <h6>Cidade</h6>
                    <p>@parlamentar.cidade</p>
                    <h6>Formação</h6>
                    <p>@parlamentar.formacao</p>
                    <h6>Data de nascimento</h6>
                    <p>@parlamentar.dataNascimento</p>
                    <h6>Gabinete</h6>
                    <p>@parlamentar.gabinete</p>
                    <h6>Biografia</h6>
                    <p>@parlamentar.biografia</p>
                </div>
            </div>
        </div>

        <div class="col-xs-9">
            <h2 class="info-header">Presenças</h2>
            <table class="table table-striped info-table">
                <thead>
                    <tr>
                        <th>Mês</th>
                        <th>Presenças</th>
                        <th>Faltas justificadas</th>
                        <th>Faltas não justificadas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Abril</td>
                        <td>5</td>
                        <td>3</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Março</td>
                        <td>7</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="info-header">Votos</h2>
            <table class="table table-striped info-table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Matéria</th>
                        <th>Voto</th>
                        <th>Resultado geral</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>18/04/2014</td>
                        <td class="pl">
                            <a href="#">PL 100/2014</a>
                            <p>Recompõe os vencimentos dos servidores do
                            Poder Judiciário Estadual.</p>
                        </td>
                        <td>A favor</td>
                        <td>Aprovado</td>
                    </tr>
                    <tr>
                        <td>15/04/2014</td>
                        <td class="pl">
                            <a href="#">PL 95/2014</a>
                            <p>Institui o projeto “Sarau do Solar” na
                            Assembleia Legislativa do Estado do Rio Grande
                            do Sul.</p>
                        </td>
                        <td>Contra</td>
                        <td>Aprovado</td>
                    </tr>
                    <tr>
                        <td>09/02/2014</td>
                        <td class="pl">
                            <a href="#">PL 70/2014</a>
                            <p>Cria as diretrizes que consolidam a Política
                            Estadual de Atenção Integral a pessoas com
                            diagnóstico de obesidade e sobrepeso</p>
                        </td>
                        <td>Contra</td>
                        <td>Rejeitado</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
