@(sessoes: List[models.Sessao], sessaoForm: Form[models.Sessao])

@import helper._

@breadcrumb = {
    <li><a href="#">Início</a></li>
    <li><a href="#">Administrador</a></li>
    <li class="active">Adicionar sessão</li>
}

@main(title = "Adicionar sessão", breadcrumb = breadcrumb) {
	<h1>@sessoes.size() sessões</h1>

	<ul>
		@for(s <- sessoes) {
			<li>@s.data_hora</li>
			<li>@s.descricao</li>
			<li>@s.ata</li>
			<li>@s.carater</li>
			<li>@s.presidente</li>

			<li>@form(routes.Administrador.excluirSessao(s.id)) {
			<input type="submit" value="Excluir" />
			}</li>
		}
	</ul>

	<h2>Cadastrar uma nova Sessão</h2>

	@form(routes.Administrador.criarSessao()) {
		@inputDate(sessaoForm("data_hora"))
		@inputText(sessaoForm("descricao"))
		@inputText(sessaoForm("ata"))
		@inputText(sessaoForm("carater"))
		@inputText(sessaoForm("presidente"))
		<input type="submit" value="inserir" />
	}
}

