@(criarParlamentarForm: Form[models.Parlamentar], parlamentarList: List[models.Parlamentar],
criarProcessoForm: Form[models.Processo], processoList: List[models.Processo])


@import helper._

<html>
        <head>
                <title>Administrador</title>
        </head>
        <body>
        <hr/>
        <h1>Criar Parlamentar</h1>
        @form(routes.Administrador.criarParlamentar()){

            @inputText(criarParlamentarForm("nome"))
            @inputText(criarParlamentarForm("dataNascimento"))
            @inputText(criarParlamentarForm("partido"))
            @inputText(criarParlamentarForm("formacao"))
            @inputText(criarParlamentarForm("cidade"))
            @inputText(criarParlamentarForm("gabinete"))
            @inputText(criarParlamentarForm("salario"))
            @inputText(criarParlamentarForm("biografia"))
            <input type="submit" value="Criar Parlamentar" />
        }
        
        <h1>Criar Processo</h1>
        @form(routes.Administrador.criarProcesso()){

            @inputText(criarProcessoForm("descricao"))
            @inputText(criarProcessoForm("acusacoes"))
            @inputText(criarProcessoForm("status"))
            @inputText(criarProcessoForm("defesa"))
            @inputText(criarProcessoForm("textoDefesa"))
            @inputText(criarProcessoForm("descricao"))
            @inputText(criarProcessoForm("orgaoDeInvestigacao"))

            <input type="submit" value="Criar Processo" />
        }


        <h1>Parlamentares Cadastrados</h1>
        <ul>
            @for(p <- parlamentarList) {
                <li>
                    Nome: @p.nome - Partido: @p.partido - Salário: @p.salario - 
                </li>
            }
        </ul>
        <hr/>
        
        <h1>Processo Cadastrados</h1>
        <ul>
            @for(a <- processoList) {
                <li>
                    Descrição: @a.descricao - Acusações: @a.acusacoes - Status: @a.status - Defesa: @a.defesa - 
                </li>
            }
        </ul>
        <hr/>
        
    </body>
</html>
