@(listaParlamentares : List[models.Parlamentar])

@import helper.twitterBootstrap._
@import helper._

@scripts = {
}

@breadcrumb = {
    <li><a href="#">Administrador</a></li>
    <li class="active">Listar Parlamentares</li>
}

@main(title = "Parlamentares", scripts = scripts, breadcrumb = breadcrumb) {

    <table class="table table-bordered table-striped">
        <tr> 
            <th>ID</th>
            <th>Nome</th>
            <th>Partido</th>
            <th>Formação</th>
            <th>Cidade</th>
            <th>Gabinete</th>
            <th colspan="2">Opções</th>
        </tr>
        @for(p <- listaParlamentares){
            <tr>
                <td>@p.id</td>
                <td>@p.nome</td>
                <td>@p.partido</td>
                <td>@p.formacao</td>
                <td>@p.cidade</td>
                <td>@p.gabinete</td>
                <td><a href="#">Editar</a></td>
                <td><a href="#">Excluir</a></td>
            </tr>
        }

    </table>

}