@(title: String, scripts: Html = Html(""), breadcrumb: Html)(content: Html)

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700">
        <link rel="stylesheet" href="@routes.Assets.at("style/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("style/style.css")">
        <script src="@routes.Assets.at("js/jquery-2.1.0.min.js")"></script>
        @scripts
    </head>

    <body>
        <div class="container">
            <div class="al-header">
                <img src="@routes.Assets.at("images/marca-assembleia.png")" alt="Logomarca da Assembleia">
            </div>

            <nav class="al-nav navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="#">Despesas</a></li>
                    <li><a href="#">Parlamentares</a></li>
                </ul>
            </nav>

            <ol class="breadcrumb">
                @breadcrumb
            </ol>
        </div>

        <div class="container">
            @content
        </div>

        <footer>
            <div class="container">
                <ul class="footer-links">
                    <li><a href="#">Assembleia</a></li>
                    <li><a href="#">Deputados</a></li>
                    <li><a href="#">Atividades</a></li>
                    <li><a href="#">Legislação</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
