@(title: String, scripts: Html = Html(""), breadcrumb: Html)(content: Html)

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700">
        <link rel="stylesheet" href="@routes.Assets.at("style/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("style/style.css")">
        <script src="@routes.Assets.at("js/jquery-2.1.0.min.js")"></script>
        @scripts
    </head>

    <body>
        <div class="container">
            <div class="al-header">
                <img src="@routes.Assets.at("images/marca-assembleia.png")" alt="Logomarca da Assembleia">
            </div>

            <ol class="breadcrumb">
                @breadcrumb
            </ol>
        </div>

        <div class="container">
            @content
        </div>

        <div class="al-footer">
            <div class="container">
                Este é o rodapé
            </div>
        </div>
    </body>
</html>
